html,
body {
  min-height: 100vh;
  width: 100vw;
}
body {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-column-fluid {
  flex: 1 0 auto;
}
.flex-row-fluid {
  flex: 1 auto;
  min-width: 0;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.38s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
#app {
  flex: 1;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #071437;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  background-color: #f1f1f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  border-bottom: 1px solid #f1f1f4;
  transition: none;
  align-items: stretch;
  background-color: #f1f1f4;
}
.app-header-logo {
  width: 120px;
}
.app-header-logo .avatar {
  width: 48px;
  height: 48px;
  border: 1px solid #1b84ff;
  border-radius: 50%;
}
.app-header h1 {
  font-size: 20px;
  color: #071437;
  font-weight: bold;
  margin-bottom: 8px;
}
.app-header-description {
  font-size: 14px;
  color: #99a1b7;
}
.app-header .app-header-link {
  margin-right: 20px;
  font-size: 14px;
  color: #1b84ff;
  text-decoration: none;
}
.app-header .github-icon {
  width: 32px;
  height: 32px;
  margin-right: 30px;
  cursor: pointer;
}
.app-wrapper {
  margin-top: 100px;
  margin-left: 200px;
  transition: margin-left 0.3s ease, margin-right 0.3s ease;
}
.app-sidebar {
  position: fixed;
  z-index: 105;
  top: 100px;
  bottom: 0;
  left: 0;
  width: 200px;
}
.app-sidebar a {
  text-decoration: none;
  color: #071437;
}
.app-menu {
  padding: 0 16px;
}
.app-menu .app-menu-item {
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: color 0.3s;
}
.app-menu .app-menu-item img {
  height: 16px;
  margin-right: 12px;
}
.router-link-active a {
  color: #1b84ff;
  font-size: 16px;
}

.app-main {
  padding-right: 30px;
  padding-bottom: 30px;
  transition: margin 0.3s ease;
}
