// home
.home .hero img {
  width: 180px;
}

.vxe-table
  table
    margin: 0
    overflow: initial
    display: table
  tr, th, td
    border: initial
    padding: initial
  tr:nth-child(2n)
    background: initial
