// home
.home
  .hero
    img
      width: 180px;

// default theme

.navbar
  .site-name::after
    content: 'vxe-table@3.18.15'
    position: absolute
    top: 0
    right: -60%
    padding: 4px
    background-color: $accentColor
    border-radius: 4px
    color: #fff
    font-size: 12px
    line-height: 1

.theme-default-content
  code
    color: $accentColor

// demo
.demo-block
  div[class*="language-"]
    .highlight-lines
      .highlighted
       background: rgba($accentColor, 0.5);

.demo-block
  div[class*="language-"].line-numbers-mode
    .highlight-lines
      .highlighted:before
        width: 2rem;
        background: rgba($accentColor, 0.5);

.vxe-table
  table
    margin: 0
    overflow: initial
    display: table
  tr, th, td
    border: initial
    padding: initial
  tr:nth-child(2n)
    background: initial
